

/*--------------------------*
/*  Search
/*--------------------------*/
#searchform { margin: 20px 0 20px 25px; }
#searchform input[type=submit] { border: 0 none; color: #919191; font-size: 12px; font-style: italic; padding: 0; cursor: pointer; text-indent: -9999px; background: url(images/search.png) 50%; padding-left: 30px; height: 30px; }
#searchform input[type=submit]:hover { background: url(images/searchhov.png) 50%; }
#searchform input[type=text], input[type=password], textarea { -webkit-appearance: none; border: 1px solid #ddd; padding: 10px 10px 10px 18px; width: 168px; color: #818181; }
.archives #searchform { margin-left: 0px; }
#searchform label.screen-reader-text { display: none; }
.post-thumb { width: 100% }
#wrapper { width: 100%; height: 100%; display: table; }
.w1 { display: table-row; width: 100%; }
*+html #wrapper .w1 { min-height: 100%; }
/*--------------------------*
/*  Header
/*--------------------------*/
#tb-container {border-bottom: none; }
#topbar { margin: 0 auto; max-width: 1140px; min-width: 320px; overflow: hidden; width: 100%; height: 45px; }
#header { padding: 0 0 5px; border-top: none; position: relative; z-index: 100; }
#header .container { padding: 0px 20px 0px; }
#header .row { overflow: visible; }
.heading-box { margin: -4px 0 40px; background: #f9f9f9; border-bottom: 1px solid #ddd; box-shadow: 2px 2px 1px #f6f6f6; -moz-box-shadow: 2px 2px 1px #f6f6f6; -webkit-box-shadow: 2px 2px 1px #f6f6f6; }
.heading-top { text-align: center; }
.heading-top .subtitle { color: #919191; font-size: 13px; font-style: italic; font-weight: 200; margin-top: 10px; max-width: 920px; width: auto; }
#header .row:after, .nav-holder .frame:after, .nav-holder .menu-box .drop .holder:after, .nav-holder .menu-box .drop li:after, #nav .drop .holder:after, #nav .drop ul:after, #nav .drop li:after, .title-box .holder:after, .pricing-block:after, .pricing-block .rb:after, .content-box .row:after, .content-box:after, .tabs-block .holder:after, .users-section .box .holder:after, #twocolumns .row:after, .copyright .row:after, .post-block .box .meta:after { display: block; clear: both; content: ''; }
.shadow-top { background-image: url("images/shadow.png"); background-position: center top; background-repeat: no-repeat; top: 0; z-index: 1; }
/*--------------------------*
/*  Logo
/*--------------------------*/
.logo { width: 471px; height: 73px; background: url(images/logo.png) no-repeat; text-indent: -9999px; overflow: hidden; float: left; margin: 3px -25px 5px 24px; padding-bottom: 0px; }
.logo a { display: block; height: 100%; }
#textlogo { padding-top: 20px; }
/*--------------------------*
/* Navigation
/*--------------------------*/
.nav-holder {
	background-color: white;
	opacity: 0.8;
	width: 100%;
	position: absolute;
	height: 40px;
	margin: 81px 0px 0px -20px;
	text-align:center;
	}
.nav-holder .frame {margin: 3px 0px 0px 0px;}
.nav-holder li {display:inline-block;}
.selectnav { display: none; }
.nav-holder .menu, .nav-holder .menu * { margin: 0; padding-top: 10; list-style: none; }
.nav-holder .menu { line-height: 1.0; }
.nav-holder .menu ul li { width: 100%; }
.nav-holder .menu li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }
.nav-holder .menu li { position: relative; }
.nav-holder .menu a {
	display:inline-block;
	position: relative;
}
.nav-holder .menu li:hover ul, .nav-holder .menu li.sfHover ul { left: 0; top: 37px; background-color: white;/* match top ul list item height */ z-index: 99; }
ul.nav-holder .menu li:hover li ul, ul.nav-holder .menu li.sfHover li ul { top: -999em; }
ul.nav-holder .menu li li:hover ul, ul.nav-holder .menu li li.sfHover ul { left: 176px; /* match ul width */ top: 0; }
ul.nav-holder .menu li li:hover li ul, ul.nav-holder .menu li li.sfHover li ul { top: -999em; }
ul.nav-holder .menu li li li:hover ul, ul.nav-holder .menu li li li.sfHover ul { left: 10em; /* match ul width */ top: 0; }
.nav-holder .menu > li:after { display: block; position: absolute; bottom: 0px; content: ""; z-index: 10; height: 10px; }
.nav-holder .menu > li+li > a { padding: 0 30px 0 18px; }
.nav-holder .menu > li+li+li { }
.nav-holder .menu > li+li+li > a { padding: 0 30px 0 18px; }
.nav-holder .menu > li+li+li+li { }
.nav-holder .menu > li+li+li+li > a { padding: 0 30px 0 18px; }
.nav-holder .menu > li+li+li+li+li { }
.nav-holder .menu > li+li+li+li+li > a { padding: 0 30px 0 18px; }
.nav-holder .menu > li+li+li+li+li+li { }
.nav-holder .menu > li+li+li+li+li+li > a { padding: 0 18px 0 18px; }
.nav-holder .menu > li a { font-size: 12px; line-height: 35px; color:#656565; text-transform: uppercase; padding: 0 18px 0 18px; font-weight: 400; border-bottom: 2px solid transparent; margin-bottom: 0px; }
.nav-holder .menu > li a:hover { color:#999999; }

li.selected a {
    color: #000000;
}




.nav-holder .menu li:hover, .nav-holder .menu li.active, .nav-holder .menu li.sfHover { background-color: none;}
.nav-holder .menu li.sfHover > a { color: #999999;}
.nav-holder .menu ul {
	position: absolute;
	top: -999em;
	width: 176px;
	background-color: #656565;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
}
.nav-holder .menu li li a { padding: 10px 19px; line-height:37px; color: #656565; border-bottom: none;}

.nav-holder .menu li li a:hover {
	color: $brand_blue;
/*	text-transform: lowercase;
*/}

/*.nav-holder .menu ul li:hover {
	border-bottom: 1px dotted #656565;
}*/

.sub-indicator { text-indent: -999em; width: 5px; height: 3px; display: inline-block; background: url('images/sub-indicator.png') no-repeat; position: relative; left: 15px; top: 19px; }
.nav-holder .menu > li li > a > .sub-indicator { display: none; }
#responsive-main-nav-menu { display: none; }
.sf-sub-indicator { background: url("images/arrow.png") no-repeat scroll 0 30% transparent; padding: 0 2px 4px 0!important; margin-left: 5px!important; }

/*--------------------------*
/*  Slider
/*--------------------------*/
.gallery { overflow: hidden; position: relative; margin: -5px 0 -2px; z-index: 1; }
*+html .gallery { margin: -5px 0; }
.gallery .row { overflow: visible; }
.gallery .slide-list { list-style: none; position: relative; margin: 0 -94.2%; padding: 0 60%; }
.gallery .slide-list li { width: 100%; position: absolute; top: 0; left: 0; }
.gallery .slide-list .color1 { background: #020001; }
.gallery .slide-list .color2 { background: #000; }
.gallery .slide-list .color3 { background: #080808; }
.gallery .slide-list .active { z-index: 1; }
.gallery .slide-list img { display: block; width: 100%; max-width: 1900px; margin: 0 auto; }
.gallery .switcher-box { width: 100%; overflow: hidden; position: absolute; left: 0; bottom: 19px; z-index: 2; }
*+html .gallery .switcher-box { bottom: 22px; }
.gallery .switcher-box .holder { float: left; position: relative; left: 50%; }
.gallery .switcher { float: left; position: relative; list-style: none; left: -50%; }
.gallery .switcher li { float: left; }
.gallery .switcher a { display: block; width: 25px; height: 23px; background: url(images/sprite.png) no-repeat; text-indent: -9999px; overflow: hidden; }
.gallery .switcher a:hover, .gallery .switcher .active a { background-position: -24px 0; }
.gallery .text-box { display: none; max-width: 59%; position: absolute; left: 50%; bottom: 62px; margin: 0 0 0 -18%; z-index: 1000; color: #fff; font-size: 16px; font-style: italic; }
.gallery .text-box p { background: url("images/bg-text-box.png") repeat scroll 0 0 transparent; padding: 8px; }
.gallery .text-box h1, .gallery .text-box h2 { font-size: 26px; margin: 0 0 10px; background: url("images/bg-text-box.png") repeat scroll 0 0 transparent; padding: 8px; }
.gallery .text-box h1 a { color: #fff; text-decoration: none; font-weight: bold; }
.gallery .text-box h1 span, .gallery .text-box h2 span { font-weight: bold; }
.adipoli-wrapper>img { position: absolute; z-index: 1; }
.adipoli-before { position: absolute; z-index: 5; }
.adipoli-after { position: absolute; z-index: 10; }
.adipoli-slice { display: block; position: absolute; z-index: 15; }
.adipoli-box { display: block; position: absolute; z-index: 15; }
/*--------------------------*
/*  Content
/*--------------------------*/
.meta { padding-bottom: 10px; }
.message-bar { text-align: center; font-size: 22px; line-height: 17px; position: relative; text-shadow: 0 2px 0 #FFFFFF; font-weight: 200; }
.bar-subtitle { color: #919191; font-size: 14px; font-weight: 200; width: auto; font-style: italic; margin-top: 10px; max-width: 920px; text-align: center; width: auto; }
.message-bar .holder { background: url(images/bg-bar-b.gif) no-repeat 100% 100%; }
.message-bar .frame { }
.message-bar .container { padding: 10px 0; }
.message-bar .row { padding: 28px 0 25px; }
*+html .message-bar .row { padding: 28px 0 13px; }
.message-bar p { margin: 0 0 12px; color: #656565; }
.message-bar p span { color: #f60; text-transform: uppercase; }
.articles-block { padding: 10px 0 10px; overflow: hidden; text-shadow: 0 1px 0 #fff; line-height: 20px; }
.articles-block a { color: #656565; }
.articles-block h2 { font: 16px/20px "lato", Arial, Helvetica, sans-serif; margin: 0 0 8px; padding: 0 0 0 50px; display: table; height: 36px !important; text-shadow: none; font-weight: 200; }
.articles-block h2 span { display: table-cell; vertical-align: middle; }
*+html .articles-block h2 span { display: block; }
.articles-block .design { background: url(images/icons.png) no-repeat; }
.articles-block .customize { background: url(images/icons.png) no-repeat; }
.articles-block .compatibility { background: url(images/icons.png) no-repeat; }
.articles-block .grid { background: url(images/icons.png) no-repeat; }
.articles-block p { margin: 0 0 10px; font-weight: 500; }
.articles-block .threecol { position: relative; padding-bottom: 18px; }
.title-box { padding: 0 0px 0 0; background: url(images/divider6.png) no-repeat 0% 50%; margin: 0 0 11px; }
.title-box .holder { background: url(images/bg-title-box.png) no-repeat 0 50%; /*height:1%;*/ padding: 0 0 0 0px; }
.title-box h2 { margin: 10px auto; padding: 10px 0; font-size: 16px; text-shadow: 0 1px 0 #fff; text-align: right; }
.title-box span { background: #ffffff; padding: 0 15px; }
.info-section { width: 100%; }
.info-section .links-list { list-style: none; text-align: center; margin: 0 0 30px; font-size: 14px; text-shadow: 0 1px 0 #fff; }
.info-section .links-list li { display: inline; padding: 0 5px; }
.info-section .links-list a { color: #656565; }
.carousel { padding: 28px 0 21px; }
.carousel .carousel-holder { overflow: hidden; position: relative; width: 100%; }
.carousel .slide-list { width: 100%; overflow: hidden; position: relative; list-style: none; }
.carousel .slide-list li { width: 100%; float: left; max-width: 1140px !important; }
.box { background: #fff; margin: 0 0 20px; color: #818181; font-weight: 200; line-height: 20px; }
.featured-holder .box { background: none; }
.threegal .itope { width: 363px; float: left; padding: 0; margin: 0 12px 12px 0; }
.twogal .itope { width: 545px; float: left; padding: 0; margin: 0 20px 0px 0; }
.carousel .box { margin: 0 auto 5px; max-width: 353px; }
.box .holder { border: 1px solid #dddddd; box-shadow: 0 6px 6px #EEEEEE; -moz-box-shadow: 0 6px 6px #EEEEEE; -webkit-box-shadow: 0 6px 6px #EEEEEE; border-radius: 6px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
}
#work-outer .box .holder { border-shadow: none; }
#work-outer .holder { border: none; box-shadow: none; }
.itope .box .holder { border-bottom: none; }
.featured-holder .box .holder { background: none; }
.ahover img { box-shadow: 0 6px 6px #aaa; -moz-box-shadow: 0 6px 6px #aaa; -webkit-box-shadow: 0 6px 6px #aaa; }
.ahover { }
.box .frame { overflow: hidden; }
.box .image-box { text-align: center; position: relative; }
.page-id-44 .box .image-box { max-height: 166px; overflow: hidden; }

.box .image-box img {
border-radius: 6px 6px 6px 6px;
-webkit-border-radius: 6px 6px 0 0;
-moz-border-radius: 6px 6px 0 0;
 }
#sc-box .image-box { margin: -15px -9px 15px; }
.box2 .image-box img { display: block; width: 100%; min-height: 128px; }
.box .image-box .zoom { display: none; height: 100%; position: absolute; text-align: center; text-decoration: none; width: 100%; z-index: 100; background-color: rgba(225, 225, 225, 0.75); padding: 30px 20px 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; left: 0; height: 97%; }
.twogal .box .image-box .zoom { height: 98%; padding: 50px 20px 0; }
.threegal .box .image-box .zoom { padding: 40px 20px 0; height: 97%; border-radius: 6px 6px 6px 6px;}
.box .image-box .zoom span { font-size: 14px; text-transform: uppercase; color: #656565; text-shadow: 1px 1px #999999; }
.box .image-box .zoom span:after { content: ''; display: block; width: 120px; height: 1px; margin: 0px auto 0; }
.box .image-box:hover .zoom { z-index: 1001; }
.linkimg { background: url(images/hovicon2.png) no-repeat; z-index: 200; width: 30px; height: 30px; margin: 0px auto; }
.info-section .linkimg { background: url(images/hovicon2.png) no-repeat; z-index: 200; width: 30px; height: 30px; }
.threegal .linkimg { }
.zoom:hover { }
.box h3 { font-size: 15px; text-align: center; }
.taxonomy .box h3 { text-align: left; }
.box h3 a { color: $brand_blue; font-weight: 200; opacity: 0.7; }
#carousel { display: none; }
#work-outer { padding: 5px; margin: 0 auto; width: 100%; }
.sitemap a:hover { text-decoration: none; color: #4A4C52; }
.archives a { color: #65655; font-weight: 300; }
.archives a:hover { text-decoration: none; color: #333; }
#textlogo h2 a { color: #333; font-weight: bold; font-size: 36px; }
#sublogo { margin: -10px 0 0 12px; display: block; }
.preloader { background: url(i/loader1.gif) center center no-repeat #ffffff; display: inline-block; }
#dvLoading { background: url("i/loader1.gif") no-repeat scroll 50% 50% #4A4C52; height: 100px; width: 300px; position: fixed; z-index: 1000; left: 40%; top: 20%; opacity: .5; -moz-border-radius: 10px; -khtml-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
#news { margin-top: 15px; }


/*--------------------------*
/*  Contact
/*--------------------------*/
.contact-block { padding: 25px 0 30px; color: #787878; /*font-size:14px;*/ line-height: 20px; text-shadow: 0 1px 0 #fff; }
#main .contact-block h2 { margin: 0 0 28px; }
.contact-form { padding: 3px 0 0; }
.contact-form .wrap { margin: 0 22px 19px 0; }
.contact-form .text { display: block; width: 100%; border: 1px solid #dddddd; padding: 10px; background: #fff; margin-bottom: 5px; font: italic 12px/18px "lato", Arial, Helvetica, sans-serif; color: #ccc; }
.contact-form .error { margin: 0 0 18px 0; padding: 18px 18px 18px 18px; border: 1px solid #d3847a; background: url("images/noise.png") repeat scroll 0 0 #f9a89d; display: block; }
.requiredField { position: relative; }
.contact-form .text input { width: 100%; background: none; border: 0; margin: 0; padding: 9px 0; display: block; outline: none; color: #787878; font: italic 14px/18px "lato", Arial, Helvetica, sans-serif; }
.contact-form .textarea { display: block; }
.contact-form .textarea span { display: block; height: 119px; padding: 14px 5px 11px 15px; }
.contact-form .textarea textarea { width: 100% !important; height: 100% !important; overflow: hidden; border: 1px solid #dddddd; padding: 10px; background: #fff; display: block; outline: none; color: #ccc; font: italic 12px/18px "lato", Arial, Helvetica, sans-serif; }
.contact-form .submit { }
.contact-form .submit input { background: $brand_blue; margin: 0; padding: 0 24px 2px; border: 0; cursor: pointer; float: left; height: 30px; overflow: visible; font: 14px/28px "lato", Arial, Helvetica, sans-serif; min-width: 140px; color: #fff; text-align: center; line-height: 35px; }
.contact-form .submit:hover { text-decoration: none; background: url("images/noise.png") repeat scroll 0 0 #646665; }
.contact-form .submit:hover input { text-decoration: none; background: url("images/noise.png") repeat scroll 0 0 #646665; }
.contact-block .info-box { padding: 0 0 36px 49px; }
.contact-block h3 { color: #333; font: 16px/20px "lato", Arial, Helvetica, sans-serif; margin: 0; }
.contact-block .info-box h3 { padding: 3px 0 9px 49px; margin: 0 0 0 -49px; background: url(images/icons.png) no-repeat; }
.contact-block .info-box .service { background-position: 0 -955px; }
.contact-block .info-box .contact { background-position: 4px -1112px; }
.contact-block .info-box dl { margin: 0; width: 100%; overflow: hidden; color: #666; font-size: 13px; line-height: 21px; }
.contact-block .info-box dt { float: left; clear: left; margin: 0 3px 0 0; }
.contact-block .info-box dd { margin: 0; }
.contact-block .info-box dl a { color: #666; }
/*--------------------------*
/*  Pricing Block
/*--------------------------*/
.pricing-block { margin: 55px auto 36px; max-width: 940px; font: 13px/21px "Lato", Arial, Helvetica, sans-serif; }
.pricing-block .rt { background: url(images/bg-box-t2.gif) no-repeat 100% 0; }
.pricing-block .lb { background: url(images/bg-box-b2.gif) no-repeat 0 100%; }
.pricing-block .rb { background: url(images/bg-box-b2.gif) no-repeat 100% 100%; min-height: 50px; }
.pricing-box { float: left; text-align: center; color: #656565; position: relative; }
.pricing-box .text-box { border: none !important; }
.pricing-box em { font-size: 1em; color: #999; display: block; margin-top: 0.5em; font: 12px/18px; }
.pricing-box.last-box { }
.pricing-block .pricing-box:first-child {

}
.pricing-box .holder { 
	padding:1px 0 3px;
}
.pricing-block .pricing-box:first-child .holder { border-bottom: 1px solid #dedede; padding: 0; }
.pricing-box.last-box .holder { border-bottom: 1px solid #dedede; padding: 0; }
.pricing-box .frame { border: 1px solid #e5e4e3; padding: 0px 0px 72px; }
.pricing-box .inner { position: relative; }
.pricing-block .pricing-box:first-child .frame { border: none; padding: 0px 0px 75px 0px; }
.pricing-box.last-box .frame { border: none; padding: 0x 0px 75px 0px; }
.pricing-box .price-box { background: #F9F9F9; border-bottom: 1px solid #ddd; height: 71px; margin: 0 0 1px; padding: 32px 5px; color: #777; font: bold 14px/18px Arial, Helvetica, sans-serif; }
.pricing-box.featured .price-box { background: url(images/noise.png) #6F9D6A; color: #fff; height: 101px; font: bold 18px/22px Arial, Helvetica, sans-serif; padding: 32px 5px; }
.pricing-box.featured .holder { box-shadow: inset 3px 3px 10px 5px #eee; -webkit-box-shadow: inset 3px 3px 10px 5px #eee; -moz-box-shadow: inset 3px 3px 10px 5px #eee; }
.pricing-box .price-box strong { display: block; font: bold 38px/40px Arial, Helvetica, sans-serif; margin: 0 0 3px; }
.pricing-box.featured .price-box strong { font: bold 72px/76px Arial, Helvetica, sans-serif; margin: 0 0 -4px; }
.pricing-box .text-box { border-top: 2px solid #f5f4f2; padding: 0px 0px 10px 0px; margin: 0 -5px; }
.pricing-box.featured .text-box { padding: 0px 29px 0 34px; border-top: 1px solid #efefed; }
.pricing-box h3 { font: bold 18px/22px Arial, Helvetica, sans-serif; margin: 0 0 22px; padding-bottom: 7px; padding-top: 10px; background: #f8f8f8; border-bottom: 1px solid #ddd; text-align: center !important; }
.pricing-box.featured h3 { margin: 0 -29px 30px -34px; padding: 10px 0 7px; border-bottom: 1px solid #ddd; text-align: center; background: #f1f1f1; }
.pricing-box .info { color: #656565; font: italic 13px/18px "Lato", Arial, Helvetica, sans-serif; display: block; margin: 0 0 14px; }
.pricing-box .text-box ul { list-style: none; background: url(images/divider3.gif) repeat-x 0 100%; margin: 0 0 12px; }
.pricing-box .text-box li { border-bottom: 1px solid #eee; padding: 14px 0; }
.pricing-box .text-box li:first-child { background: none; margin-top: -18px; }
.pricing-box.featured { width: 24%; margin: -31px -2px -21px -1px; z-index: 1; overflow: hidden; }
.pricing-box.featured .r { background: url(images/bg-box-c.gif) repeat-y 100% 0; }
.pricing-box.featured .lt { background: url(images/bg-box-t4.gif) no-repeat; }
.pricing-box.featured .rt { background: url(images/bg-box-t4.gif) no-repeat 100% 0; }
.pricing-box.featured .lb { background: url(images/bg-box-b4.gif) no-repeat 0 100%; }
.pricing-box.featured .rb { background: url(images/bg-box-b4.gif) no-repeat 100% 100%; padding: 6px 8px 60px; min-height: 50px; }
.pricing-box.featured .inner { margin: 0 0 52px; }
.pricing-box .btn-signup { position: absolute; left: 50%; margin: 0 0 0 -62px; bottom: -56px; display: inline-block; background: url(images/noise.png) #4A4C52; padding: 0 7px 0 0; text-align: center; cursor: pointer; color: #fff; font: italic 15px/30px "Lato", Arial, Helvetica, sans-serif; -moz-border-radius: 2px; -khtml-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.pricing-box.featured .btn-signup { bottom: -84px; margin: 0 0 0 -59px; }
.pricing-box .btn-signup span { background: url(images/noise.png) #4A4C52; display: block; height: 32px; padding: 0 4px 0 11px; min-width: 100px; }
.pricing-box .btn-signup:hover { text-decoration: none; background: url("images/noise.png") repeat scroll 0 0 #616267; }
.pricing-box .btn-signup:hover span { text-decoration: none; background: url("images/noise.png") repeat scroll 0 0 #616267; }
.content-box { overflow: visible; padding: 21px 0 0; }
.content-box .row { overflow: visible; }
.tabs-block, .accordion-box { margin: 0 0 26px; }
.tabs-block .holder, .accordion-box .holder { width: 100%; }
.title-area { overflow: hidden; background: url("images/noise.png") repeat scroll 0 0 #656565; margin: 0 -4px 0 -3px; position: relative; }
.title-area .rb { padding: 5px 3px 6px 1px; }
.title-area .area { position: relative; width: 100%; padding: 1px 0; }
.gradient { top: 0; left: 0; position: absolute; z-index: 1; width: 100%; height: 100%; }
*+html .gradient { height: auto; }
.title-area .box-area { width: 100%; position: relative; z-index: 2; }
/*--------------------------*
/*  Tabs
/*--------------------------*/
.tabset { list-style: none; overflow: hidden; margin: 1px -1px -15px 10px; font: italic 14px/38px "Lato", Arial, Helvetica, sans-serif; }
.tabset li { float: left; text-align: center; padding: 0 0 12px; }
.tabset a { display: block; cursor: pointer; padding: 0 5px 0 0; color: #f3f3f3; }
.tabset a span { display: block; padding: 0 5px 0 10px; height: 48px; min-width: 80px; white-space: nowrap; background: url(images/none.gif); }
.tabset a:hover { text-decoration: none; background: #FFF; color: #656565; border-left: 1px dotted #ddd; border-right: 1px solid #ddd; }
.tabset a:hover span { background: #FFF; }
.tabset .active a { background: #FFF; }
.tabset .active a span { background: #FFF; color: #252525; }
.tabs-block .tab-content { overflow: hidden; min-height: 200px; padding: 25px 19px 26px; line-height: 20px; }
.tabs-block .tab-content p { margin: 0 0 20px; }
/*--------------------------*
/*  Accordion
/*--------------------------*/
.accordion { padding: 0; margin: 0; list-style: none; width: 100%; }
.accordion li { height: 1%; vertical-align: top; }
.accordion .opener { display: block; height: 1%; text-decoration: none; padding: 15px 22px; margin: -6px -3px -7px -1px; background: url("images/noise.png") repeat scroll 0 0 #656565; color: #f1f1f1; font: italic 15px/20px "Lato", Arial, Helvetica, sans-serif; border: 1px solid #ededed; border-bottom: none; }
.accordion .slide { width: 100%; }
.accordion .slide-holder { padding: 22px 22px 13px; }
/*--------------------------*
/*  Buttons
/*--------------------------*/
.buttons-list { list-style: none; overflow: hidden; margin: 0 0 11px; }
.buttons-list li { float: left; padding: 0 16px 16px 0; }
.btn { display: inline-block; cursor: pointer; background: url(images/noise.png) #579bcc; color: #fff; text-align: center; font-size: 14px; line-height: 35px; }
.btn span { display: block; height: 35px; background: url(images/noise.png) #579bcc; padding: 0 10px; min-width: 120px; }
.peacock-badge { height: 35px;}
.peacock-badge img { margin: -25px 0px 0px -345px;}
.flourish-frame { background: url(images/background-button.png) no-repeat; height: 250px; margin-top: -240px;}
.btn.blue { background: url(images/noise.png) #a3d5d6;  border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; margin-bottom: 85px;}
.btn.blue span { background: #ffffff; box-shadow: 0 6px 6px #EEEEEE; border: 1px solid #DDDDDD; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; color: $brand_blue; }
.btn.green { background: url(images/noise.png) #a7e180; }
.btn.green span { background: url(images/noise.png) #a7e180; }
.btn.purple { background: url(images/noise.png) #be8fe6; }
.btn.purple span { background: url(images/noise.png) #be8fe6; }
.btn.slate { background: url(images/noise.png) #4A4C52; }
.btn.slate span { background: url(images/noise.png) #4A4C52; }
.btn.orange { background: url(images/noise.png) #ebb063; }
.btn.orange span { background: url(images/noise.png) #ebb063; }
.btn.red { background: url(images/noise.png) #d33a65; }
.btn.red span { background: url(images/noise.png) #d33a65; }
.icons-list { list-style: none; margin: -4px 0 20px; }
.icons-list li { display: inline; padding: 0 17px 0 0; }
.icons-list img { vertical-align: middle; padding: 0 0 18px; }
/*--------------------------*
/*  Team
/*--------------------------*/
.users-section { margin: -6px 0 0; width: auto; }
.users-section .title { padding: 0 0 5px 3px; text-transform: uppercase; font-size: 12px; line-height: 20px; }
.users-section h3 { font: 15px/22px "Lato", Arial, Helvetica, sans-serif; margin: 0; padding: 20px 0 0 0; }
.users-section h3 a { color: #333; }
.users-section .box { background: #fff; margin: 0 0 31px; font-weight: 200; }
.users-section .box .holder { background: url(images/bg-box6.gif) no-repeat 100% 100%; width: 100%; }
.users-section .box img { display: block; width: 100%; }
.users-section .text-box { padding: 20px 7px 21px 11px; }
.users-section .text-box .hold { overflow: hidden; }
#twocolumns { padding: 0 0 0 0; overflow: hidden; position: relative; }
#twocolumns .row { overflow: visible; }
/*--------------------------*
/*  Divider
/*--------------------------*/
.title-box .holder {border:0px; box-shadow:none;}
/*--------------------------*
/*  Post Blocks
/*--------------------------*/
#content { padding: 0 9px 11px 0; }
.posts-holder { margin: 0 0 -3px; }
.post-block { padding: 0px 0 40px; }
.post-block ul { list-style: none outside none; }
.pagecontent .post-block { border-top: none; }
.post-block.single-post { border: 0; padding: 1px 0 22px; }
.posts-holder .post-block:first-child { border: 0; padding-top: 0; }
.heading .date, .post-block .box .date { float: left; width: 50px; height: 35px; background: url(images/sprite.png) no-repeat -245px -372px; text-align: center; font: italic 11px/14px Arial, Helvetica, sans-serif; padding: 7px 0; }
.heading .date { margin: -3px 6px -10px 24px; }
.post-block .box .date { display: none; }
.heading .date strong, .post-block .box .date strong { display: block; font: italic 18px/20px Arial, Helvetica, sans-serif; margin: -2px 0 0; }
*+html .heading .date strong, *+html .post-block .box .date strong { margin: -2px -3px 0 0; }
.heading { padding: 0px 2px 20px 4px; }
.type-post .heading { background: url("images/bg-box2.jpg") repeat-x scroll 0 0 #F2F2F2; border-top: 1px solid #e1e1e1; border-left: 1px solid #eee; border-right: 1px solid #eee; padding-left: 15px; }
.single-post .heading { background: url("images/bg-box2.jpg") repeat-x scroll 0 0 #F2F2F2; border-top: 1px solid #e1e1e1; border-left: 1px solid #eee; border-right: 1px solid #eee; padding-left: 15px; }
.heading .meta { float: right; }
.heading .meta .meta-box { float: left; margin: 8px 0 0 24px; }
.heading .meta .meta-box2 { float: left; margin: 8px 0 0 24px; }
.heading h2 { font: 22px/28px "Lato", Arial, Helvetica, sans-serif; margin: 0; overflow: hidden; padding: 4px 0 0 0px; font-weight: 600; text-shadow: 0 2px 0 #FFFFFF; font-weight: 200; }
.heading a { color: #333; text-decoration: none; }



.post-block .box {
	padding: 0;
	background: #fff url(images/bg-box6.gif) no-repeat 0 100%;
	line-height: inherit;
	overflow: visible;
	margin: 0;
	position: relative;
}

.single-post .box { margin: 0 0 50px;
}
.post-block .box .holder { overflow: hidden;
}
.post-block .box .text-box { }
.sitemap { text-align: left!important; }
.sitemap h3 { text-align: left!important; }
.text-box2 { }
.text-box2 h3 { text-align: left; }
.single-post .box .text-box { padding-top: 20px; }
.taxonomy .box .text-box { padding-top: 20px; }
.taxonomy .box .text-box li { list-style: none; }
.post-block .box .image-box { margin: 0; }
.post-block .box .meta { float: right; margin: 2px 0 0 30px; width: 235px; }
.post-block .meta-box { color: #919191; display: inline-block; font-size: 11px; font-style: italic; line-height: 14px; margin: 0 0 10px; padding-top: 16px; padding-left: 20px; background: url(images/clock.png) no-repeat 0% 100%; }
.post-block .meta-box2 { color: #919191; display: inline-block; font-size: 11px; font-style: italic; line-height: 14px; margin: 0 0 10px; padding-top: 16px; padding-left: 20px; background: url(images/categories.png) no-repeat 0% 100%; }
.post-block .box .meta .more { margin: 0 0 0 auto; clear: both; }
.post-block .box .hold { overflow: hidden; }
.post-block p { margin: 0 0 12px; font-weight: 200; }
.sitemap ul li { border-bottom: 1px solid #ddd; padding: 5px 0; }
.sitemap ul li:last-child { border-bottom: none; padding-bottom: 20px; }
.single-post p { margin: 0 0 21px; font-weight: 200; }
.post-block .meta-box p { margin: 0; }
.post-block .meta-box2 p { margin: 0; }
/*--------------------------*
/*  Pagination
/*--------------------------*/
.paging-holder { margin: 0 -10px; position: relative; overflow: hidden; }
.paging-frame { float: left; position: relative; left: 50%; }
.paging { position: relative; float: left; left: -50%; list-style: none; padding: 0 0 20px; text-align: center; font: bold 12px/26px Helvetica, Arial, sans-serif; text-shadow: 0 1px 0 #fff; color: #717171; }
.paging { float: left; text-align: center; padding: 0 1px 3px; min-width: 28px; }
.paging a, .paging > span { float: left; background: url(images/sprite.png) no-repeat 100% -719px; padding: 0 6px 0 0; color: #919191; text-decoration: none; }
.paging > span .active { float: left; background: url(images/sprite.png) no-repeat 100% -719px; padding: 0 6px 0 0; color: #717171; text-decoration: none; }
.paging a { cursor: pointer; }
.paging a span, .paging span span { float: left; height: 27px; background: url(images/sprite.png) no-repeat -151px -719px; padding: 0 0 0 6px; min-width: 16px; }
.paging a .active { color: #4A4C52; }
.paging > span { background-position: 100% -791px; }
.paging span span { background-position: -151px -791px; }
.paging a:hover { color: #f2f2f2; text-shadow: 0 1px 0 #575757; background-position: 100% -754px; }
.paging a:hover span { background-position: -151px -754px; }
.paging .prev, .paging .next { width: 28px; height: 27px; background: url(images/sprite.png) no-repeat -84px -719px; text-indent: -9999px; overflow: hidden; padding: 0; }
.paging .next { background-position: -117px -719px; }
.paging .prev:hover { background-position: -83px -754px; }
.paging .next:hover { background-position: -118px -754px; }
.single-post .text-box .meta { display: none; }
/*--------------------------*
/*  Comments
/*--------------------------*/
.comments-section { width: 100%; }
.comments-section h3 { color: #656565; font: 14px/20px "Lato", Arial, Helvetica, sans-serif; margin: 0 0 9px; padding-top: 10px; }
.comments, .comments .children { list-style: none; }
.comments > li { overflow: hidden; vertical-align: top; border-top: 1px dotted #dddddd; padding: 34px 98px 20px 83px; position: relative; }
.comments .children li { position: relative; padding: 34px 0 12px 80px; }
.comments .comment { width: 100%; }
.comments .avatar-box { position: absolute; left: 3px; top: 88px; width: 32px; height: 32px; background: #FFF; padding: 3px 3px 4px; border: 1px solid #ddd; }
.comments children li .avatar-box { top: 11px; left: 0; }
*+html .comments children li .avatar-box { top: 8px; }
.comments .avatar-box img { vertical-align: top; }
.comment-box { overflow: hidden; background: #fff; margin: 0 0 14px -26px; line-height: 20px; }
.comments children li .comment-box { margin: 0 0 0 -30px; }
.comment-box .rb { padding: 8px 10px 6px 25px; overflow: hidden; min-height: 46px; border: 1px solid #ddd; }
.comments children li .comment-box .rb { padding: 4px 10px 5px 34px; }
.comments p { margin: 0 0 6px; }
.comments .meta { padding: 0 0 5px; min-height: 40px; }
.comments .meta .author { display: block; color: #656565; font: bold 13px/18px Arial, Helvetica, sans-serif; margin: 0 0 3px; }
.comments .meta .author a { color: #656565; }
.comments .box-row { overflow: hidden; }
.comments .links-list { float: right; list-style: none; color: #919191; display: inline-block; font-size: 11px; font-style: italic; line-height: 14px; margin: 0 0 10px; }
.comments .links-list li { float: left; padding: 0 6px 0 23px; }
.comments .links-list a { color: #656565; }
.comments .links-list .edit { color: #919191; display: inline-block; font-size: 11px; font-style: italic; line-height: 14px; margin: 0 0 10px; }
.comments .date { color: #919191; display: inline-block; font-size: 11px; font-style: italic; line-height: 14px; margin: 0 0 10px; }
/*--------------------------*
/*  Clients Bar
/*--------------------------*/
#clients { margin-bottom: 30px; }
#clientlist { height: 200px;}
.row .twocol { padding-bottom: 50px;}
#clientlist span {
	border: 1px solid #ECECEC;
	list-style: none outside none;
	text-align: center;
	background: #ffffff;
	float: left;
	opacity:.80;
	border-bottom: 1px solid #dddddd;
	padding-top:5px;
}
#clientlist span:hover { opacity: 1; }
/*--------------------------*
/*  Sidebar
/*--------------------------*/
#sidebar { font-weight: 200; margin: 0 0 -9999px -17px; padding: 0 0 9999px; }
.sidebar-holder { padding: 0px 0 9999px 7%; margin: 0 0 -9970px; }
.widget-box { float: none; width: auto; height: auto; padding: 0px 0px 5px 0px; margin: 0 0 40px 0; box-shadow: 0 6px 6px #eee; -webkit-box-shadow: 0 6px 6px #eee; border: 1px solid #ddd; }
.home .widget-box:last-child { margin-bottom: 5px; }
#sidebar .textwidget { margin: 0px 20px 10px; }
#sidebar .title { display: block; top: 0; left: 0; width: 100%; padding: 9px 0 7px 0; margin-bottom: 10px; font-size: 12px; text-indent: 18px; color: #555; background: #fafafa; border-bottom: 1px #ddd solid; text-shadow: 1px 1px #fff; }
#sidebar .title h2 { background: url(images/arrow.png) no-repeat 0% 30%; margin: 8px; font: 15px/20px "Lato", Arial, Helvetica, sans-serif; color: #252525; font-weight: 200; }
.sidebar-nav { list-style: none; }
.sidebar-nav li { border-bottom: 1px dotted #dddddd; }
.sidebar-nav a { color: #656565; display: inline-block; }
.sidebar-nav a { padding: 8px 0 9px 0px; }
.sidebar-nav .recentcomments a { display: block; background: none; }
.recentcomments { padding: 8px 0 9px 0px; }
.sidebar-nav .active a { text-decoration: none; color: #f60; }
.sidebar-nav .active a { margin-left: 12px; }
#sidebar ul { list-style: none; line-height: 16px; margin: -7px 20px 10px; }
#sidebar #twitter ul { margin: 15px 0 17px; }
#sidebar ul li { border-bottom: 1px dotted #dddddd; }
#sidebar ul li:hover { color: #222; }
#sidebar #twitter ul li:hover { background: none; }
#sidebar ul li:last-child { border-bottom: none; }
#sidebar .children li { border-bottom: 0px solid #dfdee2; padding-left: 15px; }
#sidebar .children li:first-child { border-top: 1px solid #dfdee2; margin-top: 6px; }
#sidebar .children li:last-child { border-bottom: 0px solid #dfdee2; }
#sidebar ul a:hover, #sidebar ul .current_page_item a { text-decoration: none; padding-left: 10px; color: #4A4C52; }
#home-sidebar #sidebar { margin-top: 64px; }
.posts-list a { background: none !important; padding: 0 !important; display: block; }
.posts-list { list-style: none; color: #656565; }
.posts-list li { border-bottom: 1px solid #efeef0; padding: 19px 0; overflow: hidden; vertical-align: top; }
.posts-list li:last-child { border-bottom: none; }
#footer .posts-list li { border-bottom: 1px solid #575757; }
#footer .posts-list li:last-child { border-bottom: none; }
.posts-list li:first-child { padding-top: 12px; }
#footer .posts-list li:first-child { padding-top: 3px; }
.posts-list img { float: left; margin: 0 6px 0 0; -moz-border-radius: 2px; -khtml-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.posts-list .text-box { overflow: hidden; padding: 1px 0 0; }
.posts-list h3 { color: #656565; font: 13px/14px "Lato", Arial, Helvetica, sans-serif; margin: 0 0 3px; padding: 0px; }
#footer .posts-list h3 { text-shadow: none; }
.posts-list h3 a { color: #656565; }
.posts-list h3 a:hover { text-decoration: none; color: #f63; }
.posts-list .meta { color: #999; display: block; font-size: 11px; line-height: 14px; }
.posts-list .side-meta { color: #999; display: block; font-size: 11px; line-height: 14px; }
.widget-box .text-block { color: #8e8e8e; font-size: 12px; padding: 7px 0 0; }
.widget-box .text-block p { margin: 0 0 12px; }
#sidebar .twitter-list { color: #656565; font-size: 11px; line-height: 17px; padding: 0 0 5px; }
#sidebar .twitter-list li { padding: 13px 0 15px 16px; border-bottom: 1px solid #dfdee2; background: url(images/ico-twitter.png) no-repeat 0 18px; }
#sidebar .twitter-list li:first-child { padding-top: 4px; background-position: 0 9px; }
#sidebar .twitter-list a { color: #919191; background: none !important; padding: 0 !important; }
#sidebar .twitter-list .tweet_time a { color: #4A4C52; }
#sidebar .twitter-list .link { color: #c60; }
.tagcloud { list-style: none; overflow: hidden; font: bold 12px/22px Helvetica, Arial, sans-serif; /*margin:0 -14px 40px -6px;*/ padding: 12px 0 0; }
.tagcloud { padding: 0 3px 0px 20px; }
.tagcloud a { float: left; cursor: pointer; padding: 0 10px 0 0; color: #f3f3f3; margin-right: -8px; font-size: 12px !important; }
.tagcloud span { -moz-transition-duration: 0.3s; background-color: #919191; color: #CCCCCC; display: block; float: left; font-size: 11px !important; font-weight: normal !important; height: 20px; line-height: 20px; margin-bottom: 5px; margin-right: 8px; margin-top: 3px; overflow: hidden; padding: 5px 8px; text-transform: lowercase !important; width: auto; }
.tagcloud span:hover { 
	background: #656565 repeat scroll 0 0;
}
#footer { width: 100%; overflow: hidden; display: table-footer-group; background: #656565 repeat scroll 0 0; color: #fff; line-height: 18px; font-weight: 500; }
#footer .footer-holder { height: 1%; display: table-row; }
#footer .footer-frame { background: url(images/noise.png); display: table-cell; padding-top: 60px; }
.social-bar {
	background-color: #656565 repeat-x;
	border-top: 2px solid #575757 !important;
	border-bottom: 1px solid #101112;
	z-index: 102;
}
.social-bar .row { position: relative; }
.social-box { position: relative; min-height: 35px; padding-top: 10px; }

.btn-back { width: 51px; height: 49px; background: url(images/sprite.png) no-repeat -342px -240px; text-indent: -9999px; overflow: hidden; float: right; margin: -7px 28px -9px 0; }
.btn-back:hover { background-position: -342px -302px; }
#footer h2 {
	font: 16px/22px "lato", Arial, Helvetica, sans-serif;
	margin: 0 0 17px;
	padding: 0px;
	text-shadow: none;
	color: $footer_header;
}

#footer p { margin: 0 0 18px; }
#footer .twitter li a { color: #919191; }
#footer li {
	margin-bottom: .5em;
	a {
		color: #ffffff;
		line-height: 23px;
	}
}
#footer li a:hover { color: #999999; text-decoration: none; }
.footer-columns .row { padding: 0 0 30px; margin-bottom: 20px; }
.twitter-list { list-style: none; padding: 1px 0 0; }
.twitter-list li { padding: 0 0 30px; }
.twitter-list li:first {
list-style:none;
}
#twitter ul li { list-style: none; }
.twitter-time {margin-left:5px;}
.twitter-time:before {content:'- ';}
#footer .twitter-list p { margin: 0; }
.twitter-list a { color: #f60; }
.twitter-list .date { display: block; font-style: normal; line-height: 14px; }
.footer-columns address { font-style: normal; padding: 2px 0 14px; }
.contact-list { list-style: none; padding: 3px 0 0; }
.contact-list li { padding: 0 0 17px; }
.contact-list li a, .contact-list li span { color: #fff; padding: 5px 0 6px 45px; display: inline-block; }
.contact-list li a:hover { color: #ff6600; text-decoration: none; }
.contact-list li span a { padding: 0; background: none; }
.contact-list .skype { background: url(images/icons.png) no-repeat 2px -607px; }
.contact-list .email { background: url(images/icons.png) no-repeat 6px -709px; }
.contact-list .phone { background: url(images/icons.png) no-repeat 0 -808px; }
.copyright { text-align: center; font-size: 12px; margin: 20px 0px; }
.copyright .row { position: relative; overflow: visible; margin-bottom: 21px; }
#footer .copyright p { margin-top: 10px; }
.copyright .btn-back { }
/*--------------------------*
/* Code
/*--------------------------*/
.code, .pre { border: 1px solid #e0e0e0; padding: 10px; background: #fafafa; white-space: pre-wrap; white-space: -moz-pre-wrap !important; white-space: -pre-wrap; white-space: -o-pre-wrap; overflow: auto; display: block; line-height: 20px; font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace; }
.code { background: url("images/bg_code.gif") repeat scroll 0 0 #e8e8e8; padding: 20px 10px; }
/*--------------------------*
/*  Dropcaps
/*--------------------------*/
.dropcap { float: left; display: block; margin: 3px 5px 1px 0; font-size: 20px; line-height: 36px; text-shadow: none; width: 36px; text-align: center; background: url(images/noise.png), #4A4C52; color: #f8f8f8; }
/*--------------------------*
/*  Blockquotes and Top Quotes
/*--------------------------*/
.top-quotes  { background: url(images/background-flourish.png)no-repeat;padding: 10px 175px 15px; font-style: italic}
.blockquote-left { margin-left: 50px; padding-left: 20px; border-left: 5px solid #555; font-style: italic }
blockquote { background: url(images/quotes.png)top left no-repeat; border: none; padding-left: 50px; margin-left: 0; font-style: italic; }
/*--------------------------*
/*  Notifications
/*--------------------------*/
.notification { margin: 0 0 18px 0; padding: 18px; }
.info { border: 1px solid #64a6cc; background: url("images/noise.png") repeat scroll 0 0 #9dd7f9; }
.warning { border: 1px solid #d0bc81; background: url("images/noise.png") repeat scroll 0 0 #f9e29d; }
.error { border: 1px solid #d3847a; background: url("images/noise.png") repeat scroll 0 0 #f9a89d; }
.success { border: 1px solid #98cf70; background: url("images/noise.png") repeat scroll 0 0 #c5f99e; }
.note { border: 1px solid #d0bc81; background: url("images/noise.png") repeat scroll 0 0 #f9e29d; }
.download { border: 1px solid #64c5e1; background: url("images/noise.png") repeat scroll 0 0 #cce9f4; }
.notice-close { background: url("images/notice-close.png") no-repeat scroll 0 0 transparent; display: block; float: right; margin-top: 5px; -khtml-opacity: .80; -moz-opacity: .80; -ms-filter: "alpha(opacity=80)"; filter: alpha(opacity=80); filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.8);
opacity: .80; overflow: hidden; text-indent: -999px; width: 12px; }
.notice-close:hover { opacity: 1; }
/*--------------------------*
/*  Comments Form
/*--------------------------*/
#commentform .form-submit { float: left; background: url("images/noise.png") repeat scroll 0 0 #4A4C52; margin-left: 62px; }
#commentform .form-submit input { background: url("images/noise.png") repeat scroll 0 0 #4A4C52; margin: 0; padding: 0 24px 2px; border: 0; cursor: pointer; float: left; height: 30px; overflow: visible; color: #fff; text-shadow: 0 -1px 0 #004f6c; font: 14px/28px "lato", Arial, Helvetica, sans-serif; min-width: 140px; }
#commentform .form-submit:hover { -khtml-opacity: .90; -moz-opacity: .90; -ms-filter: "alpha(opacity=90)"; filter: alpha(opacity=90); filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.9);
opacity: .90; }
#commentform input[type=text], input[type=password], textarea { -webkit-appearance: none; border: none; border-bottom: 1px solid #ddd; padding: 10px 10px 10px 18px; width: 268px; color: #818181; }
.comment-form-author label { padding-right: 26px; }
.comment-form-email label { padding-right: 28px; }
.comment-form-url label { padding-right: 20px; }
.comment-form-comment label { padding-right: 11px; }
.screenReader { left: -9999px; position: absolute; top: -9999px; }
.error2 { display: block; background: #ededed; padding: 12px 17px; margin-bottom: 20px; }
.requiredField { position: relative; }
#sendCopy { float: left; }
/*--------------------------*
/*  Google Map
/*--------------------------*/
#googlemap { float: left; height: 300px; width: 100%; display: block; border-top: 1px solid #ddd; margin-top: 1px; }
/*--------------------------*
/*  Overlay
/*--------------------------*/
.overlay { display: none; z-index: 10000; background-color: #fbfbfb; padding: 10px; min-height: 200px; border: 1px solid #fff; max-width: 60% }
.overlay .close { background-image: url(images/close.png); position: absolute; right: -15px; top: -15px; cursor: pointer; height: 35px; width: 35px; }
.olay-image { float: left; overflow: hidden; max-width: 100%; }
/*--------------------------*
/*  Video
/*--------------------------*/
.video { position: relative!important; padding-bottom: 56.25%!important; padding-top: 30px!important; height: 0!important; overflow: hidden!important }
.video iframe, .video object, .video embed { position: absolute!important; top: 0!important; left: 0!important; width: 100%!important; height: 100%!important }
/*--------------------------*
/* Flickr Widget
/*--------------------------*/
.flickr { padding: 0; display: block; }
.flickr ul li { display: inline; }
.flickr img { height: 50px; width: 75px; background: none repeat scroll 0 0 #fff; border: 1px solid #DDDDDD; padding: 2px; margin-right: 6px; margin-bottom: 6px; box-shadow: 0 -5px 20px -6px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0 -5px 20px -6px rgba(0, 0, 0, 0.4); }
#sidebar .flickr img { height: 100px; width: 175px; background: none repeat scroll 0 0 #fff; border: 1px solid #DDDDDD; padding: 2px; margin-right: 4px; box-shadow: 0 -5px 20px -6px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0 -5px 20px -6px rgba(0, 0, 0, 0.4); }
.flickr img:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); }
#sidebar .flickr img { box-shadow: none; float: left; height: 48px; margin: 3px 3px -16px 4px; padding-bottom: 0px; width: 48px; }
#sidebar .flickr ul li { border: none; }
#sidebar .flickr ul li a:hover { background: none; padding-left: 0px; }
.flickr a { background: none; padding-left: 0px; }
.right { float: right; padding: 25px; }
/*--------------------------*
/*  Donation Meter
/*--------------------------*/
#vertmeter { height: 350px; width: 50%; background-color: #dedede; position: relative; float: left; margin-left: 20px; -moz-border-radius: 10px; -khtml-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; box-shadow: 0 0 6px rgba(0, 0, 0, 0.08) inset, 0 1px 3px rgba(0, 0, 0, 0.15) inset, 0 1px 0 rgba(255, 255, 255, 0.6); }
#vertmeter_bar { background: url("images/noise.png") repeat scroll 0 0 #CF3500; width: 100%; position: absolute; bottom: 0; box-shadow: 0 0 6px rgba(0, 0, 0, 0.08) inset, 0 1px 3px rgba(0, 0, 0, 0.15) inset, 0 1px 0 rgba(255, 255, 255, 0.6); }
#vertlabels { top: 0; height: 350px; margin-left: 62% }
#vertlabels span { padding: 0 0 10px 8px; display: block; background: url(images/arrow.png) no-repeat 0% 20%; margin-bottom: 60px; }
/*--------------------------*
/*  Donation Button
/*--------------------------*/
.paypal input[type=submit] { background: url("images/noise.png") repeat scroll 0 0 #4A4C52; margin: 0; padding: 0 10px; border: 0; cursor: pointer; float: left; height: 35px; overflow: visible; text-shadow: 0 -1px 0 #004f6c; font: 14px/28px "lato", Arial, Helvetica, sans-serif; min-width: 120px; color: #fff; text-align: center; line-height: 35px; -moz-border-radius: 2px; -khtml-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.paypal input[type=submit]:hover { text-decoration: none; background: url("images/noise.png") repeat scroll 0 0 #616267; }
.payment_form { padding: 5px 0 30px 0; margin: 20px; }
/*--------------------------*
/* Video Container
/*--------------------------*/
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*--------------------------*
/* Media Queries
/*--------------------------*/
 @media handheld, only screen and (max-width: 1920px) {
.gallery .slide-list { margin: 0 -34.2%; padding: 0; }
.gallery .text-box { margin: 0 0 0 -29.5%; }
}
@media handheld, only screen and (max-width: 940px) {
.pricing-block { max-width: 500px; }
.pricing-block .rb { padding: 13px 0; }
#main .pricing-box[style] { width: 100% !important; float: none; }
#main .pricing-box { background: #fdfcfa url(images/bg-box4.gif) repeat-y; margin: 0; }
#main .pricing-box .holder, #main .pricing-box .r { background: url(images/bg-box4.gif) repeat-y 100% 0; padding: 0; overflow: hidden; }
#main .pricing-box .frame, #main .pricing-box .rb { background: none; padding: 0; border: 0; }
#main .pricing-box .inner { height: auto !important; margin: 0; padding: 0 4px 17px; }
#main .pricing-box .lt, #main .pricing-box .rt, #main .pricing-box .lb, #main .pricing-box .rb { background: none; }
#main .pricing-box .text-box { margin: 0; border: 0; padding: 12px 58px 0 68px; }
.pricing-box .btn-signup { position: static; margin: 0 0 10px !important; }
#main .pricing-box h3 { border: 0; padding: 0; margin: 0 0 22px; }
.pricing-box .text-box ul { margin: 0 0 46px; }
#main .pricing-box.last-box .frame { background: url(images/bg-box-b5.gif) no-repeat 0 100%; position: relative; }
.pricing-box.last-box .holder { border-bottom: none; }
#main .pricing-box.last-box .inner { background: url(images/bg-box-b5.gif) no-repeat 100% 100%; padding: 0 4px 41px; }
#dvLoading { width: 100%; left: 0; -moz-border-radius: 0px; -khtml-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }
.gallery .slide-list { max-height: 280px; }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
.blocks-section2 .box { max-width: 400px; margin: 0 auto 45px; }
.blocks-section .box { max-width: 249px; margin: 0 auto 49px; }
.threegal .itope { width: 310px; height: 240px; margin: 0 5px 5px 0; }
.twogal .itope { width: 460px; height: 340px; margin: 0 5px 0px 0; }
.box .image-box .zoom span { font-size: 9px; }
.box .image-box .zoom { padding: 10px 20px 0; }
#dvLoading { display: none; }
}
@media handheld, only screen and (max-width: 940px) {
.nav-holder {margin: -3px 3px -1px 0; background-color: transparent !important;}
.nav-holder .frame {float: right; margin-right: 71px; margin-top:45px;}
.nav-holder #main-nav-menu { display: none;}
.js .selectnav { display: block; }
.posts-list img { float: none; }
.columns-holder .sixcol { float: none; width: 100%; }
.blocks-section .box { max-width: 300px; margin: 0 auto 49px; }
#dvLoading { display: none; }
}
@media handheld, only screen and (max-width: 860px) {
.box .image-box.alignleft { width: auto; float: none; margin: -12px -10px 15px -14px; }
.users-section .threecol { width: 46%; margin: 0 2%; }
.gallery .text-box { margin: 0 0 0 -30%; bottom: 112px; }
.box .image-box .zoom { padding: 10px 20px 0; }
#dvLoading { display: none; }
.post-block .box .meta { width: 210px; margin: 0 0 0 20px; }
.tabset a span { min-width: 78px; }
.blocks-section2 .box { max-width: 286px; margin: 0 auto 45px; }
.twogal .itope { width: 350px; height: 240px; margin: 0 5px 0px 0; }
.threegal .itope { width: 350px; height: 250px; margin: 0 5px 5px 0; }
#vertlabels span { font-size: 9px; }
.gallery .slide-list { max-height: 250px; }
.box .image-box .zoom span { font-size: 9px; }
.box .image-box .zoom { padding: 10px 20px 0; }
}
@media handheld, only screen and (max-width: 767px) {
.stagr { width: 100%; padding-left: 0px; padding-right: 20px }
#main, #twocolumns { padding: 0; }
#main h2 { margin: 0 0 0px 14px; }
.nav-holder { margin: 3px 3px -8px 0; }
.nav-holder .frame { margin-right: 51px; margin-top: 10px;}
.logo { width: 140px; height: 75px; background: url(images/logo-small.png) no-repeat; text-indent: -9999px; overflow: hidden; float: left; margin: -31px 0 0 10px; }
#header .container { padding: 17px 0 7px; }
.gallery .text-box { bottom: 30px; font: 14px/20px 'Lato', Arial, Helvetica, sans-serif; }
.gallery .text-box .holder { }
.gallery .text-box h1, .gallery .text-box h2 { font: 16px/24px 'Lato', Arial, Helvetica, sans-serif; }
.message-bar { font-size: 16px; line-height: 20px; margin: 0 0 11px; }
.message-bar .row { padding: 11px 0 15px; }
.articles-block h2 { margin: 0 0 7px; }
.message-bar p { margin: 0 0 14px; }
.articles-block { padding: 0 0 7px; }
.articles-block .threecol { height: auto !important; padding: 0 37px 19px; }
.articles-block p { margin: 0 0 28px; }
.articles-block .more { position: static; display: block; }
.box .frame { height: auto !important; }
.carousel .box { margin: 0 auto 37px; }
.posts-section .image-box { float: none; margin: 0 0 16px; }
.title-box { margin: 0 20px 3px; }
.info-section { padding: 16px 0 0; }
.title-box h2 { padding: 0 0 8px; }
.info-section .links-list { margin: 0 20px 24px; font-size: 12px; }
.box .frame { padding: 16px 8px 12px; }
.box .image-box { margin: -16px -8px 16px; }
.box h3 { margin: 0 0 9px; }
.carousel { padding: 0; margin: 0 0 -6px; }
.posts-section .blocks-holder { padding: 21px 0 0 0; }
.posts-section h3 { margin: 0 0 11px; }
.posts-section .meta-box { }
.posts-section .blocks-holder .sixcol { margin: 0 0 26px; }
.posts-section { padding: 0 0 3px; }
.heading-box #searchform { display: none; }
.heading-box h1 { margin: 0; }
.filter-list { text-align: center; }
.btn-back { display: none; margin: -8px 28px -9px 0;}
.copyright .btn-back { display: block; }
.social-bar { margin-bottom: 0px; }
.footer-columns .row .threecol { padding: 0 42px 100px; }
.twitter-list { margin: 0 0 -9px; }
.footer-columns .row { padding: 0; margin: 0 0 30px; }
.row  .twelvecol {padding-top: 1px; padding-bottom:1px;}
.row .twocol {padding-bottom: 0px;}
.row .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {min-height: 0px !important; }
.contact-list { margin: 0 0 -4px; }
.copyright .row { margin-bottom: 11px; }
.users-section .threecol { padding: 0; float: left; }
.post-block .meta .date { display: none; }
#content { padding: 0 0 5px; }
.post-block { margin: 0 -20px; padding: 9px 20px 62px; }
.post-block.single-post { margin: 0; padding: 0 0 22px; }
.single-post .box { margin: 0 0 34px; }
.comments-section h3 { margin: 0 0 8px; }
.post-block .box .meta { float: none; width: 100%; margin: 0 0 5px; }
.post-block .box .date { display: block; }
.post-block .meta-box { margin: 10px 0 9px 10px; }
.post-block .box .more { position: absolute; left: 0; bottom: -43px; }
.paging { margin: 0 -10px 20px; }
.paging li { padding: 0 0 2px 1px; min-width: 22px; }
.paging span span, .paging a span { min-width: 13px; }
.single-post .text-box .meta { display: block; }
.single-post .heading .meta { display: none; }
.box .frame { height: auto !important; }
.comments > li { margin: 0 -20px; padding: 34px 98px 20px 103px; }
.comments .date { display: block !important; }
.comments > li .avatar-box { left: 23px; }
#sidebar { margin: 0 -20px; padding: 0; border: 0; }
.sidebar-holder { border: 0; margin: 0; padding: 27px 45px 0 54px; }
.posts-list img { float: left; }
.heading-box .row { padding: 11px 0 24px; }
.panel { margin-bottom: 29px; }
.blocks-section .box, .blocks-section2 .box, .blocks-section3 .box { margin: 0 auto 38px; }
.contact-block { padding: 0 0 30px; }
.item-box { margin: 0 0 27px; }
#main .contact-block h2 { margin: 0 0 20px; }
.columns-holder .sixcol { padding: 0; }
.contact-form { padding: 3px 0 25px; }
.contact-block .info-box { padding: 0 0 35px 46px; }
.contact-block .info-box h3 { margin: 0 0 0 -46px; padding: 3px 0 9px 46px; }
.content-box { padding: 0; }
.pricing-block { margin: 0 auto 36px; }
.tabs-block .tab-content { padding: 16px 15px 2px; }
#content .breadcrumbs { padding: 4px 0 7px; }
.post-block .box .text-box { padding: 12px 7px 0; }
.post-block p { margin: 0 0 8px; }
.posts-holder { margin: 0 0 15px; }
.comments .meta { padding: 0 0 9px; }
.comment-box { margin: 0 0 12px -30px; }
.gallery .slide-list { max-height: 200px; }
.box .image-box .zoom span { font-size: 9px; }
#dvLoading { display: none; }
}
@media handheld, only screen and (max-width: 630px) {
.comments > li { padding: 21px 20px 20px 103px; }
.comments .links-list { float: none; overflow: hidden; padding: 0; }
.comments .links-list li { padding: 0 23px 4px 0; }
.comments .children { margin: 0 0 0 -67px; }
.item-box .rb { padding: 3px 4px 4px 3px; }
.comments li li .avatar-box { left: 2px; }
.box .image-box .zoom span { font-size: 9px; }
}
@media handheld, only screen and (max-width: 560px) {
.gallery .slide-list { max-height: 150px; }
.gallery .switcher-box { display: none; }
.tabset { margin: -5px -1px -26px; }
.tabset a span { min-width: 69px; }
.title-box h2 { padding: 0; }
.logo { width: 130px; height: 75px; background: url(images/logo-small.png) no-repeat; text-indent: -9999px; overflow: hidden; float: left; margin: -30px 0 0 7px; }
}
@media handheld, only screen and (max-width: 479px) {
.users-section .threecol { float: none; width: 100%; max-width: 228px; margin: 0 auto; }
}
@media handheld, only screen and (max-width: 440px) {
.buttons-list li { padding: 0 11px 11px 0; }
#comments #comment { width: 80%; }
.title-box span { padding: 0 5px; }
.gallery .slide-list { max-height: 120px; }
.gallery .text-box { bottom: 10px; font-size: 10px; }
.gallery .text-box h1, .gallery .text-box h2 { font-size: 12px; margin: 0 0 5px; }
}
.info-section {display:none;}