@font-face {
	font-family: 'socialflaw';
	src:url('fonts/socialflaw.eot?3g9x5v');
	src:url('fonts/socialflaw.eot?#iefix3g9x5v') format('embedded-opentype'),
		url('fonts/socialflaw.ttf?3g9x5v') format('truetype'),
		url('fonts/socialflaw.woff?3g9x5v') format('woff'),
		url('fonts/socialflaw.svg?3g9x5v#socialflaw') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'socialflaw';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
	content: "\e604";
}
.icon-facebook:before {
	content: "\e605";
}
.icon-instagram-alt:before {
	content: "\e606";
}
.icon-twitter:before {
	content: "\e607";
}
.icon-twitter-large:before {
	content: "\e60a";
}
.icon-youtube-full:before {
	content: "\e610";
}
.icon-youtube-play:before {
	content: "\e611";
}
.icon-huffington-circle-thicker2:before {
	content: "\e60f";
}
.icon-hierarchy_circle:before {
	content: "\e60b";
}
.icon-speech_circle:before {
	content: "\e60c";
}
.icon-cog_circle:before {
	content: "\e60d";
}
.icon-cog:before {
	content: "\e60e";
}
.icon-play-alt:before {
	content: "\e608";
}
.icon-play:before {
	content: "\e609";
}
.icon-mail:before {
	content: "\e600";
}
.icon-instagram-with-circle:before {
	content: "\e601";
}
.icon-linkedin-with-circle:before {
	content: "\e602";
}
.icon-pinterest-with-circle:before {
	content: "\e603";
}
