#topbar #hovsocial {
	float: right;
	padding: 12px 0 0 0;
/*	font-size: 10px;
	text-indent: 23px;
*/	width: 400px;
	text-align: right;
	a {
		margin-left: .75em;
	}
}

#hovsocial a {	
	&:before {
		font-family: 'socialflaw';
		color: #848585;
		font-size: 26px;
		display: inline-block;
		-webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		-ms-transition: all .2s linear;
		-o-transition: all .2s linear;
		transition: all .2s linear;
	}
	&:hover:before {
		color: $brand_blue;		
	}
}

ul#hovsocial.social_icons_footer {
	list-style: none;
	li a {
		float: left;
		line-height: 27px;		
		&:before {
			color: #E1E1E1; /*the name of this color is zircon*/
			font-size: 24px;	
			margin-right: 7px;
		}
		&:hover:before {
			color: $footer_hover;		
		}		
	}
	&.shift {
		padding: 1em 2em;
		li a:before {
			text-align: center;
			font-size: 28px;			
		}
	}
}

#hovsocial a#fb {
	&:before {
		content: "\e605";
	}
}

#hovsocial a#tw {
	&:before {
		content: "\e60a";
	}
	span#followers {
		display: none;
	}
}

#hovsocial a#inst:before {
    content: "\e606";
}

#hovsocial #huff:before {
    content: "\e60f";
}

#hovsocial #yt:before {
    content: "\e611";
}

#hovsocial #em:before {
    content: "\e604";
}

.facebook-icon {
	background: url("images/fb-dark.png") no-repeat scroll 0 7px transparent;
padding: 6px 10px;
-khtml-opacity: .50;
-moz-opacity: .50;
-ms-filter: "alpha(opacity=50)";
filter: alpha(opacity=50);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
opacity: .50;
}
.twitter-icon {
	background: url("images/tw-dark.png") no-repeat scroll 0 7px transparent;
padding: 6px 10px;
-khtml-opacity: .50;
-moz-opacity: .50;
-ms-filter: "alpha(opacity=50)";
filter: alpha(opacity=50);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
opacity: .50;
}
.linkedin-icon {
	background: url("images/ln-dark.png") no-repeat scroll 0 7px transparent;
}

.facebook-icon:hover { opacity: 1;
}
.twitter-icon:hover { opacity: 1;
}
.linkedin-icon:hover { opacity: 1;
}

div.row div.articles-block div.fourcol a h2 {
	&:before {
		font-family: 'socialflaw';
		color: #4A4C52;
		font-size: 31px;
		display: inline-block;
		-webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		-ms-transition: all .2s linear;
		-o-transition: all .2s linear;
		transition: all .2s linear;
		margin: 9px 15px 0 0;
	}
	&:hover {
		color: $brand_blue;
		&:before {
			color: $brand_blue;
		}
	}	
	&.design, &.customize, &.compatibility {
		background: transparent !important;
		margin: 0 0em 1em 0;
		padding: 0;
	}
	&.design:before {
		content: "\e60b";
	}
	&.customize:before {
		content: "\e60c";
	}		
	&.compatibility:before {
		content: "\e60d";
	}
}


